<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 关键词搜索记录统计(op_keyword_statistics)Mapper -->
<mapper namespace="KeywordStatisticsMapper">
    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 不使用缓存加入useCache="false" -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  -->

	<sql id="Base_Column_List">
    statistics_time,keyword ,search_count ,shopId ,type 
    </sql>

    <resultMap type="com.shifeng.entity.keyword.KeywordStatistics" id="KeywordStatisticsReturnMap">
		<!-- 统计日期 -->
      <id column="statistics_time" property="statistics_time"/>
		<!-- 关键词 -->
      <result column="keyword" property="keyword"/>
		<!-- 搜索次数 -->
      <result column="search_count" property="search_count"/>
		<!-- 店铺id -->
      <result column="shopId" property="shopId"/>
		<!-- 站来源类型 0 pc 1m 2app 3 微信 必填 -->
      <result column="type" property="type"/>
   </resultMap>
   
   
    <!-- 保存关键词搜索记录统计 -->
  <insert id="saveKeywordStatisticsList" parameterType="java.util.Map">
		INSERT INTO 
			op_keyword_statistics_${nowYearMonth}
			(statistics_time,keyword ,search_count ,shopId ,type )
		VALUES
		<foreach collection="keywordStatisticsList" item="item" index="index" separator=",">
			 (	#{item.statistics_time},#{item.keyword },#{item.search_count },#{item.shopId },#{item.type}	)
		</foreach>
		ON DUPLICATE KEY UPDATE search_count=VALUES(search_count)
  </insert>
   
  
	
</mapper>